## Optimization

In [64]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import sklearn as skl
import pandas as pd
import tensorflow as tf
import numpy as np

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [65]:
# Determine the number of unique values in each column.
# create for loop using columns to create list
col_list = application_df.columns

for col in col_list:
  print(f"{col} Distribution")
  print(f"{application_df[col].value_counts()}\n")

EIN Distribution
10520599     1
626274659    1
630475330    1
630416100    1
630357662    1
            ..
383880377    1
383876652    1
383874900    1
383871370    1
996086871    1
Name: EIN, Length: 34299, dtype: int64

NAME Distribution
PARENT BOOSTER USA INC                                                  1260
TOPS CLUB INC                                                            765
UNITED STATES BOWLING CONGRESS INC                                       700
WASHINGTON STATE UNIVERSITY                                              492
AMATEUR ATHLETIC UNION OF THE UNITED STATES INC                          408
                                                                        ...
ST LOUIS SLAM WOMENS FOOTBALL                                              1
AIESEC ALUMNI IBEROAMERICA CORP                                            1
WEALLBLEEDRED ORG INC                                                      1
AMERICAN SOCIETY FOR STANDARDS IN MEDIUMSHIP & PSYCHICAL INVESTIGATI       1
WATERHOUSE CHARITABLE TR                                                   1
Name: NAME, Length: 19568, dtype: int64

APPLICATION_TYPE Distribution
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

AFFILIATION Distribution
Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

CLASSIFICATION Distribution
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

USE_CASE Distribution
Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

ORGANIZATION Distribution
Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

STATUS Distribution
1    34294
0        5
Name: STATUS, dtype: int64

INCOME_AMT Distribution
0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

SPECIAL_CONSIDERATIONS Distribution
N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

ASK_AMT Distribution
5000        25398
10478           3
15583           3
63981           3
6725            3
            ...
5371754         1
30060           1
43091152        1
18683           1
36500179        1
Name: ASK_AMT, Length: 8747, dtype: int64

IS_SUCCESSFUL Distribution
1    18261
0    16038
Name: IS_SUCCESSFUL, dtype: int64

In [66]:
## additional columns that can be dropped in addition to EIN and NAME given low impact on performance
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'. - original preprocessing
# secondary preprocessing...remove special considerations and 
application_df.drop(['EIN', 'STATUS', 'SPECIAL_CONSIDERATIONS'], axis=1, inplace=True)
# check that columns removed properly
application_df.columns

Index(['NAME', 'APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION', 'USE_CASE',
       'ORGANIZATION', 'INCOME_AMT', 'ASK_AMT', 'IS_SUCCESSFUL'],
      dtype='object')

In [67]:
# list of values to replace 1 to 24999
income_amts_to_replace_1to25k = ['1-9999', '10000-24999']

# list of values to replace >= 500000
income_amts_to_replace_ge500000 = ['1M-5M', '10M-50M', '5M-10M', '50M+']

# Replace in dataframe
for app in income_amts_to_replace_1to25k:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(app,"1 to 24999")

    # Replace in dataframe
for app in income_amts_to_replace_ge500000:
    application_df['INCOME_AMT'] = application_df['INCOME_AMT'].replace(app,">= 500000")

# Check to make sure binning was successful
application_df['INCOME_AMT'].value_counts()

0                24388
25000-99999       3747
100000-499999     3374
>= 500000         1519
1 to 24999        1271
Name: INCOME_AMT, dtype: int64

In [68]:
# Choose a cutoff value and create a list of names to be replaced

s = application_df['NAME'].value_counts()
application_df['NAME'] = np.where(application_df['NAME'].isin(s.index[s < 26]), "Other", application_df['NAME'])

print(f"Distribution of Names: {application_df['NAME'].value_counts()}")
print(f"Number of Unique Vales: {application_df['NAME'].nunique()}")

Distribution of Names: Other                                                                   23031
PARENT BOOSTER USA INC                                                   1260
TOPS CLUB INC                                                             765
UNITED STATES BOWLING CONGRESS INC                                        700
WASHINGTON STATE UNIVERSITY                                               492
                                                                        ...
VETERANS OF FOREIGN WARS OF THE UNITED STATES AUXILIARY DEPARTMENT         28
OPTIMIST INTERNATIONAL                                                     27
AMERICAN LEGION AUXILIARY                                                  26
CALIFORNIA TEACHERS ASSOCIATION                                            26
FUTURE FARMERS OF AMERICA AND ITS STATE ASSOCIATIONS & LOCAL CHAPTER       26
Name: NAME, Length: 94, dtype: int64
Number of Unique Vales: 94

In [69]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = ['T9', 'T13', 'T12', 'T2', 'T25', 'T14', 'T29', 'T15', 'T17']

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [70]:
s = application_df['CLASSIFICATION'].value_counts()
application_df['CLASSIFICATION'] = np.where(application_df['CLASSIFICATION'].isin(s.index[s < 1000]), "Other", application_df['CLASSIFICATION'])

application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [71]:
application_df.head()

,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,INCOME_AMT,ASK_AMT,IS_SUCCESSFUL
0,Other,T10,Independent,C1000,ProductDev,Association,0,5000,1
1,Other,T3,Independent,C2000,Preservation,Co-operative,1 to 24999,108590,1
2,Other,T5,CompanySponsored,C3000,ProductDev,Association,0,5000,0
3,Other,T3,CompanySponsored,C2000,Preservation,Trust,1 to 24999,6692,1
4,Other,T3,Independent,C1000,Heathcare,Trust,100000-499999,142590,1

In [72]:
# Convert categorical data to numeric with `pd.get_dummies`
application_dummies = pd.get_dummies(application_df)

In [73]:
# Split our preprocessed data into our features and target arrays
y = application_dummies.IS_SUCCESSFUL.values
X = application_dummies.drop(columns="IS_SUCCESSFUL").values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=42, stratify=y)

In [74]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [75]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
feature_number = len(X_train[0])
layerNodes1 = 75
layerNodes2 = 50
layerNodes3 = 25
layerNodes4 = 10
layerNodes5 = 5
nn_model = tf.keras.models.Sequential()



# First hidden layer
nn_model.add(tf.keras.layers.Dense(units=layerNodes1, activation="relu", input_dim=feature_number))



# Second hidden layer
nn_model.add(tf.keras.layers.Dense(units=layerNodes2, activation="relu"))

# Third hidden layer
nn_model.add(tf.keras.layers.Dense(units=layerNodes3, activation="sigmoid"))

# Fourth hidden layer
nn_model.add(tf.keras.layers.Dense(units=layerNodes4, activation="tanh"))

# Fifth hidden layer
nn_model.add(tf.keras.layers.Dense(units=layerNodes5, activation="softmax"))


# Output layer
nn_model.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn_model.summary()

Model: "sequential_7"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_31 (Dense)            (None, 75)                9825

 dense_32 (Dense)            (None, 50)                3800

 dense_33 (Dense)            (None, 25)                1275

 dense_34 (Dense)            (None, 10)                260

 dense_35 (Dense)            (None, 5)                 55

 dense_36 (Dense)            (None, 1)                 6

=================================================================
Total params: 15,221
Trainable params: 15,221
Non-trainable params: 0
_________________________________________________________________

In [76]:
# Compile the model
nn_model.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [77]:
# Train the model
fit_model = nn_model.fit(X_train_scaled, y_train, epochs=100)

Epoch 1/100
804/804 [==============================] - 3s 3ms/step - loss: 0.5430 - accuracy: 0.7588
Epoch 2/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4975 - accuracy: 0.7733
Epoch 3/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4860 - accuracy: 0.7717
Epoch 4/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4791 - accuracy: 0.7740
Epoch 5/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4746 - accuracy: 0.7755
Epoch 6/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4719 - accuracy: 0.7750
Epoch 7/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4689 - accuracy: 0.7755
Epoch 8/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4664 - accuracy: 0.7753
Epoch 9/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4652 - accuracy: 0.7748
Epoch 10/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4637 - accuracy: 0.7747
Epoch 11/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4626 - accuracy: 0.7762
Epoch 12/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4615 - accuracy: 0.7759
Epoch 13/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4603 - accuracy: 0.7757
Epoch 14/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4599 - accuracy: 0.7771
Epoch 15/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4593 - accuracy: 0.7773
Epoch 16/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4584 - accuracy: 0.7757
Epoch 17/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4581 - accuracy: 0.7757
Epoch 18/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4574 - accuracy: 0.7770
Epoch 19/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4558 - accuracy: 0.7782
Epoch 20/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4552 - accuracy: 0.7776
Epoch 21/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4551 - accuracy: 0.7785
Epoch 22/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4547 - accuracy: 0.7784
Epoch 23/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4539 - accuracy: 0.7793
Epoch 24/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4532 - accuracy: 0.7789
Epoch 25/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4530 - accuracy: 0.7788
Epoch 26/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4530 - accuracy: 0.7800
Epoch 27/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4523 - accuracy: 0.7787
Epoch 28/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4522 - accuracy: 0.7788
Epoch 29/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4519 - accuracy: 0.7774
Epoch 30/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4511 - accuracy: 0.7784
Epoch 31/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4505 - accuracy: 0.7793
Epoch 32/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4503 - accuracy: 0.7788
Epoch 33/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4499 - accuracy: 0.7793
Epoch 34/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4501 - accuracy: 0.7806
Epoch 35/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4499 - accuracy: 0.7795
Epoch 36/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4498 - accuracy: 0.7787
Epoch 37/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4490 - accuracy: 0.7800
Epoch 38/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4488 - accuracy: 0.7804
Epoch 39/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4486 - accuracy: 0.7791
Epoch 40/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4487 - accuracy: 0.7794
Epoch 41/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4480 - accuracy: 0.7797
Epoch 42/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4485 - accuracy: 0.7791
Epoch 43/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4478 - accuracy: 0.7800
Epoch 44/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4478 - accuracy: 0.7804
Epoch 45/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4475 - accuracy: 0.7799
Epoch 46/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4474 - accuracy: 0.7794
Epoch 47/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4478 - accuracy: 0.7804
Epoch 48/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4468 - accuracy: 0.7795
Epoch 49/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4469 - accuracy: 0.7811
Epoch 50/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4468 - accuracy: 0.7806
Epoch 51/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4467 - accuracy: 0.7803
Epoch 52/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4462 - accuracy: 0.7804
Epoch 53/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4460 - accuracy: 0.7811
Epoch 54/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4463 - accuracy: 0.7804
Epoch 55/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4462 - accuracy: 0.7804
Epoch 56/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4460 - accuracy: 0.7815
Epoch 57/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4454 - accuracy: 0.7807
Epoch 58/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4456 - accuracy: 0.7806
Epoch 59/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4454 - accuracy: 0.7804
Epoch 60/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4455 - accuracy: 0.7806
Epoch 61/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4453 - accuracy: 0.7809
Epoch 62/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4452 - accuracy: 0.7813
Epoch 63/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4450 - accuracy: 0.7810
Epoch 64/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4448 - accuracy: 0.7823
Epoch 65/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4445 - accuracy: 0.7806
Epoch 66/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4447 - accuracy: 0.7809
Epoch 67/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4444 - accuracy: 0.7823
Epoch 68/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4448 - accuracy: 0.7806
Epoch 69/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4445 - accuracy: 0.7809
Epoch 70/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4443 - accuracy: 0.7825
Epoch 71/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4444 - accuracy: 0.7810
Epoch 72/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4446 - accuracy: 0.7828
Epoch 73/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4449 - accuracy: 0.7809
Epoch 74/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4440 - accuracy: 0.7817
Epoch 75/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4440 - accuracy: 0.7811
Epoch 76/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4444 - accuracy: 0.7821
Epoch 77/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4449 - accuracy: 0.7822
Epoch 78/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4444 - accuracy: 0.7817
Epoch 79/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4434 - accuracy: 0.7825
Epoch 80/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4441 - accuracy: 0.7815
Epoch 81/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4437 - accuracy: 0.7823
Epoch 82/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4435 - accuracy: 0.7822
Epoch 83/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4435 - accuracy: 0.7816
Epoch 84/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4437 - accuracy: 0.7814
Epoch 85/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4431 - accuracy: 0.7817
Epoch 86/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4431 - accuracy: 0.7818
Epoch 87/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4434 - accuracy: 0.7823
Epoch 88/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4430 - accuracy: 0.7819
Epoch 89/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4442 - accuracy: 0.7813
Epoch 90/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4438 - accuracy: 0.7818
Epoch 91/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4437 - accuracy: 0.7818
Epoch 92/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4433 - accuracy: 0.7826
Epoch 93/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4430 - accuracy: 0.7818
Epoch 94/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4434 - accuracy: 0.7821
Epoch 95/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4436 - accuracy: 0.7828
Epoch 96/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4426 - accuracy: 0.7821
Epoch 97/100
804/804 [==============================] - 2s 2ms/step - loss: 0.4426 - accuracy: 0.7821
Epoch 98/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4425 - accuracy: 0.7828
Epoch 99/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4428 - accuracy: 0.7828
Epoch 100/100
804/804 [==============================] - 2s 3ms/step - loss: 0.4433 - accuracy: 0.7812

In [78]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn_model.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.4802 - accuracy: 0.7671 - 463ms/epoch - 2ms/step
Loss: 0.48020049929618835, Accuracy: 0.7671136856079102

In [79]:
# Export our model to HDF5 file
nn_model.save("AlphabetSoupCharityOptimized.h5")